src/main/resources/ServeiProvaService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://proves.apuntstecnologia.cat/" name="ServeiProvaService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://proves.apuntstecnologia.cat/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://proves.apuntstecnologia.cat/" schemaLocation="ServeiProvaService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="suma">
    <part name="parameters" element="tns:suma"/>
  </message>
  <message name="sumaResponse">
    <part name="parameters" element="tns:sumaResponse"/>
  </message>
  <message name="concatena">
    <part name="parameters" element="tns:concatena"/>
  </message>
  <message name="concatenaResponse">
    <part name="parameters" element="tns:concatenaResponse"/>
  </message>
  <message name="quinDiaEsAvui">
    <part name="parameters" element="tns:quinDiaEsAvui"/>
  </message>
  <message name="quinDiaEsAvuiResponse">
    <part name="parameters" element="tns:quinDiaEsAvuiResponse"/>
  </message>
  <portType name="ServeiProva">
    <operation name="suma">
      <input wsam:Action="http://proves.apuntstecnologia.cat/ServeiProva/sumaRequest" message="tns:suma"/>
      <output wsam:Action="http://proves.apuntstecnologia.cat/ServeiProva/sumaResponse" message="tns:sumaResponse"/>
    </operation>
    <operation name="concatena">
      <input wsam:Action="http://proves.apuntstecnologia.cat/ServeiProva/concatenaRequest" message="tns:concatena"/>
      <output wsam:Action="http://proves.apuntstecnologia.cat/ServeiProva/concatenaResponse" message="tns:concatenaResponse"/>
    </operation>
    <operation name="quinDiaEsAvui">
      <input wsam:Action="http://proves.apuntstecnologia.cat/ServeiProva/quinDiaEsAvuiRequest" message="tns:quinDiaEsAvui"/>
      <output wsam:Action="http://proves.apuntstecnologia.cat/ServeiProva/quinDiaEsAvuiResponse" message="tns:quinDiaEsAvuiResponse"/>
    </operation>
  </portType>
  <binding name="ServeiProvaPortBinding" type="tns:ServeiProva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="suma">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="concatena">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="quinDiaEsAvui">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServeiProvaService">
    <port name="ServeiProvaPort" binding="tns:ServeiProvaPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

